{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href= "{% static 'landing_page/styles/index-style.css' %}" >
  <script src="https://kit.fontawesome.com/bb98d90c72.js" crossorigin="anonymous"></script>
  <script>


    function  formActive(name){
      const modal = document.getElementById(name);
      if (modal.style.display === "none"){
        modal.style.display = "flex";
      }
      else{
        modal.style.display = "none";
      }
    }

    function closeModal(name){
      document.getElementById(name).style.display = "none";
    }

    /*function loginFormActive(){
      let checkbox2 = document.getElementById("login-chkbox");
      checkbox2.checked = !checkbox2.checked;
      if (checkbox2.checked){
        document.getElementById("login-box").style.display = "block";
        document.getElementById("signup-box").style.display = "none";
      }
      else{
        document.getElementById("login-box").style.display = "none";
      }
    }*/
    

  </script>

  {% block head %}
  {% endblock head %}

  {% if title %}
  <title>FitlifeGuide | {{title}}</title>
  {% else %}
  <title>FitlifeGuide</title>
  {% endif %}

</head>

<body>

  <div class="modal" id="signup-modal">
    <i class="fa-solid fa-circle-xmark" onclick="closeModal('signup-modal')"></i>
    <div class="form-popup" id="signup-box">
      <form action="" method="post">
        <input type="text" name="username" id="username-box" placeholder="Username">
        <input type="email" name="email" id="email-box" placeholder="Email">
        <input type="password" name="password" id="password-box" placeholder="Password">
        <button type="">SIGN UP</button>
      </form>
    </div>
  </div>
  
  <div class="modal" id="login-modal">
    <i class="fa-solid fa-circle-xmark" onclick="closeModal('login-modal')"></i>
    <div class="form-popup" id="login-box">
      <form action="" method="post">
        <input type="text" name="username" id="username-box" placeholder="Username">
        <input type="password" name="password" id="password-box" placeholder="Password">
        <button type="">LOGIN</button>
      </form>
    </div>
  </div>
  <div class="content1"> 
    

    <div class="navbar">
      

      <ul>
        <div class="logo"><a>FitLifeGuide</a></div>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>

        <button class="action_btn" onclick="formActive('signup-modal')">Sign Up</button>
        <button class="action_btn" onclick="formActive('login-modal')">Log in</button>
      </ul>
    </div>

      {% block content1 %}
      {% endblock content1 %}
    </div>  
    {% block content2 %}
    {% endblock content2 %}
  











  <div class="end">
    <div class="logo">
      <a href="">FitLifeGuide</a>
    </div>

    <div class="wrapper">
      <div class="social">
        <h6>Social Media</h6>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">X/Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>

      <div class="contact">
        <h6>Contact Us</h6>
        <ul>
          <li><a href="#">1234-123-1234</a></li>
          <li><a href="#">fitlifeguide@gmail.com</a></li>
          <li><a href="#">www.fitlifeguide.com</a></li>
        </ul>
      </div>

      <div class="help">
        <h6>Help</h6>
        <ul>
          <li><a href="#">Suggestions & Recommendation</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>

      <div class="more">
        
        <ul>
          <h6>More</h6>
          <li><a href="#">Guidelines</a></li>
          <li><a href="#">Terms & Services</a></li>
        </ul>
      </div>
    </div>

    <footer class="copyright">
      <p>
        &copy; 2024 FitLifeGuide. All rights reserved.
      </p>
    </footer>
  </div>
</body>

</html>