* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chk-box{
  display: block;
}

#close{
  font-size: 25px;
  color: #b8c9ff;
  cursor: pointer;
  background-color: #15446d8e;

}
#close:hover{
  color: rgb(255, 107, 107) ;
  transform: translateY(-2px);
  transform: scale(1.1);
}


.modal{
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  
}
#signup-box,#login-box{
  display: block;
}
.form-popup{
  display: none;
  text-align: center;
  /* position: absolute; */
  background-color: #212435;
  box-sizing: border-box;
  box-shadow: -5px 0 5px #110f20ea;
  border-radius: 5px;
  border: 1px solid cyan;
  width: 400px;
  padding: 5%;
  /* top: 30%; */
  transition:1s all;
  /* margin: 0 35%; */
  
 } 

body {
  background-color: #212435;
  color: white;
}
a {
  color: rgb(207, 250, 250);
  text-decoration: none;
}
li {
  list-style: none;
}
ul{
  display: flex;
  margin:0 1rem;
  place-items: center;
}
.action_btn{
  margin:auto 1rem;
}
.content1{
  background-image: url(home_bg.jpg);
  background-blend-mode: multiply;
  background-color: #020311d8;
  background-size:cover;
  background-position: center;
}

.navbar {
  /*background-color: rgb(62, 73, 73);*/
  background-image: linear-gradient(180deg, #000,#000000c0, #00000000);
  height: 80px;
}

.logo , .logo a{
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 1rem;
}

.navbar li a{
  font-weight: 100;
  display: inline-flex;
  padding: 10px 25px;
}

button {
  color: rgb(202, 255, 255);
  font-weight: bold;
  background-color: #00000000;
  border-radius: 5px;
  border: 1px solid cyan;
  cursor: pointer;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(14, 189, 212, 0.205);
  border: 1px solid rgb(187, 255, 255);
}
.navbar li a:hover {
  color: rgba(0, 255, 255, 0.781);
  background-image: linear-gradient(180deg, #00000000, #06879121, #43ccd186);
  transition: ease-in-out 0.3s;
  
}
.navbar li a:hover {
  border-bottom: solid 2px;
  transition: ease 0s;
}
.cta{
  text-align: center;
  padding: 140px;
}

.cta h2{
  font-size: 1.5rem;
  font-weight: 500;
}
.cta button{
  margin:  2rem auto;
}

.cta h1{
  font-size: 6rem;
  
  font-weight: 100;
  background: -webkit-linear-gradient(45deg,#fda3ea,#b8c9ff,#c6fffa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-image: linear-gradient(45deg,#ff85e5,#b4abff,rgb(129, 236, 255));*/
}














.end {
  background-color: black;
  display: block;
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.end li a{
  padding:5px;
  justify-content: start;
}

.wrapper {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.wrapper h6 {
  color: aqua;
  margin-left: 1rem;
  cursor: default;
}

.wrapper li{
  font-weight: lighter;
  margin: 1rem;
}
.wrapper li a{
  font-weight: 100;
  text-align: left;
}

.wrapper ul {
  display: block;
  box-sizing: border-box;
}

.copyright {
  background-color: #3b3b3b1f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.copyright p {
  font-size: 1rem;
}







@media(max-width: 768px){
  *{
    margin:0;
    padding:0;
  }
  .navbar ul li a,button{
    display:none;
  }
  .navbar ul .logo{
    margin: auto;
    
  }
  .content1{
    height: 720px;
  }
  
  .end{
    width: 100%;
    
  }
  .wrapper{
    display: none;
    
  }
  .cta{
    margin: 50% 0;
    padding: 3rem;
    text-align: left;
  }
  .cta h1{
    font-size: 4rem;
  }
  
}