{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/bb98d90c72.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href= "{% static 'mainpage/styles/base.css' %}" >

  {% block head %} {% endblock head %}

  {% if title %}
  <title>FitlifeGuide | {{title}}</title>
  {% else %}
  <title>FitlifeGuide</title>
  {% endif %}
  
</head>
<body>
  <div class="navbar">
    <div class="nav" id="logo">
      <a href="#">FitLifeGuide</a>
    </div>

    <div class="nav" id="nav-btn">
      <ul>
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li id="planner"><a href="#">PLANNER</a>
          <ul class="dropdown" id="plan">
            <li><a href="">Meal Planner</a></li>
            <li><a href="">Workout Planner</a></li>
          </ul>
        </li>


        <li id="community"><a href="#">COMMUNITY</a>
          <ul class="dropdown" id="comm">
            <li><a href="{% url 'discussion' %}">Discussions</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Subreddit</a></li>
          </ul>
        </li>

        <li id="articles"><a href="#">ARTICLES</i></a>
          <ul class="dropdown" id="arti">
            <li><a href="">Health Articles</a></li>
            <li><a href="">Healthy Recipes</a></li>
          </ul>
        </li>

        <li id="videos"><a href="#">VIDEOS</i></a>
          <ul class="dropdown" id="vids">
            <li><a href="">Workout Videos</a></li>
            <li><a href="">Training for specific Sports?</a></li>
          </ul>
        </li>
        
        <li><a href="#">STORE</i></a></li>
      </ul>
    </div>
    
    <div class="nav" id="search-bar">
      <form action="" method="post">
        <input class="search-box" type="search" name="" id="" placeholder="  Search">
      </form>
    </div>
  </div>

  {% if is_authenticated %}
    <div class="sidebar">
      <div class="profile-bar">
        <a href=""><img class="pfp" src="{% static 'mainpage\images\house-chimney.svg' %}" alt="" height="30px"> <h3>William-0907</h3></a>
      </div>
      <ul>
          <li><a href="">Your Profile</a></li>
          <li><a href="">Set Status</a></li>
          <li><a href="">Edit Profile</a></li>
        <hr>
        <li><a href="">Friends</a></li>
        <li><a href="">Ask FitLife AI</a></li>
        <li><a href="">Watch Workout Videos</a></li>
        <li><a href="">Read Health Tips</a></li>
        <li><a href="">Events</a></li>
        <hr>
        <li><a href="{% url 'test' %}">Settings</a></li>
        <li><a href="">Privacy And Security</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Customer Service</a></li><hr>
        <li><a href="">Logout</a></li><hr>
      </ul>
    </div>
  {% else %}
  <div class="sidebar">
    <div class="profile-bar">
      <ul>
        <li><a href=""><h2>Sign Up</h2></a></li>
        <li><a href=""><h2>Log In</h2></a></li>
      </ul>
      
    </div>
    <ul>
    <hr>
    <li><a href="">Ask FitLife AI</a></li>
    <li><a href="">Watch Workout Videos</a></li>
    <li><a href="">Read Health Tips</a></li>
    <li><a href="">Events</a></li>
    <hr>
    <li><a href="{% url 'test' %}">Settings</a></li>
    <li><a href="">Privacy And Security</a></li>
    <li><a href="">Help</a></li>
    <li><a href="">Customer Service</a></li><hr>
    <li><a href="">Logout</a></li><hr>
  </ul>
  </div>
  
  
  {% endif %}

  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>

  <div class="end">
    <div id="logo"  class="nav">
      <a href="#">FitLifeGuide</a>
    </div>
    <div class="wrapper">
      <div class="social">
        <h6>Social Media</h6>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">X/Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
      <div class="contact">
        <h6>Contact Us</h6>
        <ul>
          <li><a href="#">1234-123-1234</a></li>
          <li><a href="#">fitlifeguide@gmail.com</a></li>
          <li><a href="#">www.fitlifeguide.com</a></li>
        </ul>
      </div>
      <div class="help">
        <h6>Help</h6>
        <ul>
          <li><a href="#">Suggestions & Recommendation</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
      <div class="more">
        <h6>More</h6>
        <ul>
          <li><a href="#">Guidelines</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
    <footer class="copyright">
      <p>
        &copy; 2024 FitLifeGuide. All rights reserved.
      </p>
    </footer>
  </div>
</body>
</html>