{% extends 'mainpage/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'mainpage/styles/home-style.css' %}">
{% endblock head %}
  

{% block content %}

  

    <div class="container">
      <h1>Whats New</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>Bugs and Fixes</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>Join Us</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>About FitLifeGuide</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

{% endblock content %}