{% extends 'mainpage/base.html' %}
{% load static %}

{% block head %}
  <style>
    .container{
    margin: 1% 15%;
    padding: 3% 5%;
    border-bottom: rgba(0, 255, 255, 0.267) solid .1px;
    width: fit-content;
    }
    .container h1{
      font-size: large;
    }
  </style>
{% endblock head %}
  


{% block content %}

    <div class="container">
      <h1>Whats New</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>Bugs and Fixes</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>Join Us</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

    <div class="container">
      <h1>About FitLifeGuide</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptas recusandae cumque quaerat rem expedita ad praesentium temporibus corrupti ullam cupiditate, dolore a ut quod consequuntur ex, amet tenetur quam!</p>
    </div>

{% endblock content %}