{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'mainpage/styles/test.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <ul>
      <li><a href="#">HOME</a></li>
      <li>
        <a href="#">ABOUT</a>
        <ul id="hidden">
          <li><a href="#">Team</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </body>
</html>